<h1>Friends list</h1> <%= link_to 'Add your details', new_user_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Dob</th>
    <th>Email</th>
    
    <th>Location</th>
    <th>Mobile number</th>
    <th>Website</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Linkedin</th>
    <th>Contact details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.dob %></td>
    <td><%= user.email %></td>
    
    <td><%= user.location %></td>
    <td><%= user.mobile_number %></td>
    <td><%= user.website %></td>
    <td><%= user.facebook_id %></td>
    <td><%= user.twitter_id %></td>
    <td><%= user.linkedin_id %></td>
    <td><%= user.contact_details %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


