<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @user.dob %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>



<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Mobile number:</b>
  <%= @user.mobile_number %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Facebook:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter_id %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @user.linkedin_id %>
</p>

<p>
  <b>Contact details:</b>
  <%= @user.contact_details %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
